---
---

@import "{{ site.theme }}";

header, footer
{
	display: none
}

section
{
	padding-bottom: 0px;
	width: 100%;
	float: none;
}

div.wrapper
{
	width: 100%;
}

table.pingraph td, table.pingraph th
{
	text-align:center;
	border:1px solid black;
}

table.pingraph
{
	border-collapse: separate;
}

table.pinlist td, table.pinlist th
{
	border:1px solid black;
}

table.pinlist
{
	border-collapse: collapse;
}

td.gnd
{
	background-color:#cccccc;
}

td.power
{
	background-color:#ffaaff;
}

td.in
{
	background-color:#ffffaa;
}

td.out
{
	background-color:#aaffff;
}

td.inout
{
	background-color:#aaffaa;
}

td.rsvd
{
	background-color:#ffffff;
}

div.register
{
	display: grid;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

div.regbits
{
	font-size: 0.8em;
}

div.regbits.left
{
	text-align: left;
	padding-left: 2px;
}

div.regbits.right
{
	text-align: right;
	padding-right: 2px;
}

div.regbits.center
{
	text-align: center;
}

div.regname
{
	text-align: center;
	border: 1px solid #666666;
	padding: 1px;
}

div.regnone
{
	text-align: center;
	background-color: #cccccc;
	border: 1px solid #666666;
}
